.feed {
  display: flex;
  color: hsl(0, 0%, 100%);
  position: relative;
  max-width: 800px;
  width: 100%;
}

.feed-content {
  background-color: #0C0C0C;
  width: 100%;
  height: 100%;
  padding: 50px 100px 50px 100px;
}

.feed-header {
  background-color: #0C0C0C;
  border: 1px solid #282828;
  padding: 25px;
  display: flex;
  margin-bottom: 25px;
}

.feed-header-newmessage {
  width: 100%;
}

.feed-header-newmessage-textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  min-height: 5rem;
  max-height: 15rem;
  border: 1px solid #282828;
  color: white;
  font-size: 0.9em;
  border-radius: 0.7em;
  background: rgb(25,25,25);
  width: 100%;
  height: 100px;
  resize: none;
  box-sizing: border-box;
}

.feed-header-newmessage-footer{
  display: flex;
  margin-top: 10px;
  
  flex-direction: row;
  justify-content: flex-end;

}

.feed-header-newmessage-rangeselect{
  /* select element*/

  width: 130px;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #282828;
  color: #ffffff;
  border: 1px solid #282828;
  font-size: small;
  padding: 5px 10px 5px 10px;
  text-align-last: center;

}

.feed-header-button {
  background-color: #ededed;
  border: 1px solid #282828;
  margin-right: 0;
  margin-left: auto;
  border-radius: 5px;
  color: #282828;
  font-size: small;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
}

.feed-header-icon {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: 25px;
}

.feed-message-picture {
  width: 100%;
  border-radius: 100%;
}

.feed-message {
  background-color: #0C0C0C;
  border: 1px solid #282828;
  display: flex;
  justify-content: flex-start;
}

.feed-message-header {
  padding: 41px 25px 25px 25px;
  width: 50px;
  display: inline-table;
}

.feed-message-header a {
  text-decoration: none;
  color: #ffffff;
}

.feed-message-content {
  padding: 25px;
  width: 100%;
}

.feed-message-content p {
}

.feed-message-footer {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.feed-message-action {
  display: inline-flex;
}

.action-icon {
  width: 25px;
  padding-right: 5px;
}